<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="add_msg"><a href="/new">Add Message</a></div>
    <br>
    <div class="messages">
      <% messages.forEach((message)=>{ %>
        <div class="message">
          <div class="user"><%= message.username %></div>
          <div class="text"><%= message.message %></div>
          <div class="date"><%= message.date %></div>
        </div>
        <br>
      <% }) %>
    </div>
  </body>
</html>
